body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .container {
    display: grid;
    grid-template-areas:
      'nav'
      'main'
      'highlights'
      'testimonials'
      'about'
      'footer';
    grid-template-rows: auto 1fr auto auto auto auto;
    min-height: 100vh;
  }

  nav {
    grid-area: nav;
    background: #f2f2f2;
    padding: 10px 0;
    text-align: center;
  }

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;  /* Adjust padding as needed */
    background: #f2f2f2;  /* Example background color */
  }

  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }

  .logo {
    max-height: 50px;  /* Adjust max-height as needed */
    margin-right: 20px ;
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 70px;  /* Adjust gap as needed */

  }

  @media only screen and (max-width: 768px) {
    .menu-icon {
      display: flex;
    }

    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: #f2f2f2;
      z-index: 1;
    }

    .nav-list.open {
      display: flex;
    }
  }

  .nav-list li {
    margin: 0;
  }

  .nav-link {
    text-decoration: none;
    color: inherit; /* Optionally, set the link color to inherit from the parent */
  }


  main {
    grid-area: main;
    padding: 20px;
  }

  footer {
    grid-area: footer;
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  /* Typography and Color Styles */
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    font-size: 40px; /* sub-title */
    font-weight: normal;
  }

  h2 {
    font-size: 30px; /* sub-title */
    font-weight: normal;
  }

  h3 {
    font-size: 18px; /* lead text */
    font-weight: normal;
    max-width: 65ch;
  }

  h4 {
    font-size: 16px; /* lead text */
    font-weight: medium;
  }

  p {
    font-size: 16px; /* paragraph text */
    font-weight: normal;
    max-width: 65ch;
    margin: 0 auto;
  }

  /* Specific section styles */
  section {
    margin-bottom: 20px;
  }

  .highlights,
  .testimonials,
  .about {
    background: #f9f9f9;
    padding: 50px 0;
    text-align: left;
    overflow: hidden;
  }

  /* Add more specific styling for individual components within each section */

  /* Highlight text */
  .highlight-text {
    font-size: 16px;
    font-weight: medium;
    color: #333333;
  }

  /* Color Palette */
  :root {
    --primary-color: #495E57;
    --secondary-color: #EE9972;
    --highlight-color: #EDEFEE;
  }

  /* Apply colors as needed in your components */

  /* About Section styles */

  .owners-container {
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) of the container */
    margin-right: 15%; /* Add some right margin for space */
  }

  .owner {
    position: relative;
  }

  .owner-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    bottom: 0; /* Adjust the position as needed */
    right: -20px; /* Adjust the position as needed */
  }

  .owner p {
    margin-top: 10px; /* Adjust the margin as needed */
  }

  /* Image placeholder for Adrian */
.owner-image:nth-child(1) {
  right: 0;
  bottom: -30px; /* Adjust the position as needed */
}

/* Image placeholder for Mario */
.owner:nth-child(2) .owner-image {
  right: -250%; /* Adjust the overlap for the second image */
  bottom: 250%;
}

.owner-description {
  margin-top: 10px; /* Adjust the margin as needed */
  font-size: 16px; /* paragraph text size */
  font-weight: normal;
  max-width: 65ch;
  margin: 0 auto;
}

/* Image placeholder for Mario */
.owner:nth-child(2) .owner-description {
  right: -15%; /* Adjust the overlap for the second image */
  bottom: 15%;
}

/* Hero Section Styles */
.hero-section {
    background: #f2f2f2;
    padding: 50px 0;
    text-align: center;
    color: #333;
  }

  .content-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-content {
    max-width: 600px;
  }

  .image-container {
    flex: 1;
    text-align: right;
  }

  .image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }

  .book-table-button {
    background: #666;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 90px;
  }

  /* Highlights Section styles */
.highlights {
    background: #fff;
    padding: 50px 0;
    text-align: center;
  }

  .dish-container {
    display: flex;
    /* overflow-x: hidden; /* Hide horizontal overflow */
    overflow-x: auto; /* Hide horizontal overflow */
  }

  .dish-item {
    flex: 0 0 auto;
    margin: 0 10px;
    cursor: pointer;
  }

  .dish-image {
    width: 100%;
    height: 200px; /* Set a fixed height as needed */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }

  .dish-content {
    margin-top: 10px;
  }

  .highlights {
    position: relative;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .order-online-button {
    background: #666;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Testimonials Section styles */
.testimonials {
    background: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }

  .testimonial-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .testimonial {
    flex: 0 0 calc(33.3333% - 20px);
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .rating {
    margin-bottom: 10px;
  }

  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .review {
    font-size: 16px;
  }

  /* Footer Section styles */
.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    gap: 30px;  /* Adjust gap as needed */
  }

  .footer-nav {
    grid-area: nav;
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  .logo {
    flex: 1;
    /* max-height: 180px; /* Adjust max-height as needed */
  }

  .nav {
    flex: 2;
  }

  .contact {
    flex: 1;
  }

  .social-media {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  .copyright {
    text-align: center;
    margin-top: 20px;
  }

  .footer-link {
    text-decoration: none;
    color: #fff;  /* Optionally, set the link color to inherit from the parent */
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Optional: Align items to the center */
    gap: 10px;  /* Adjust the gap as needed */
  }

  /* Add these styles for the reservation form */
.reservation-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add these styles for the ReservationsPage */
.reservation-page {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reservation-page h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.invalid {
  border-color: red;
}

/* Add these styles for the submit button */
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the disabled state */
input[type="submit"]:disabled {
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
}




